:focus:required:invalid, :focus:invalid, :optional:invalid {
    /* insert your own styles for invalid form input */
    -moz-box-shadow: none;
    border-color: #a94442;
}
:valid {
    border-color: #3c763d;
}
:optional{
    border-color: #e1e1e1;
}
button:valid{
    border: none;
}